<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Editar">
  <ion-content class="padding">
    
    <form name="agregarForm" novalidate>
    <div class="list">
    <label class="item item-input">
      <span class="input-label">Nombre</span>
      <input type="text" name="nombre"  ng-model="menu[0].nombre" required >
      
   </label>
   
   <label class="item item-input">
      <span class="input-label">Descripcion</span>
      <input type="text" name="descripcion" ng-model="menu[0].descripcion" required>
   </label>
   
   <label class="item item-input">
      <span class="input-label">Precio</span>
      <input type="tel" name="precio"  ng-model="menu[0].precio" required>
   </label>
   
   </div>
   
   <div class="padding">
        <p ng-show="agregarForm.nombre.$error.required">Escriba el nombre</p>
        <p ng-show="agregarForm.descripcion.$error.required">Escriba la descripcion</p>
        <p ng-show="agregarForm.precio.$error.required">Escriba el precio</p>
        <p>{{ statusMessage }}</p>
    </div>
   
   <input type="hidden" name="id" ng-model="menu[0].id">
   <button type="button" class="button icon-left ion-compose button-positive" ng-disabled="agregarForm.$invalid" ng-click="guardar(menu[0])">
      Guardar
   </button>
   
   </form>
    
  </ion-content>
</ion-view>